/*ce qui s'applique à l'ensemble du site - style général*/

* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto";
}

html p {
    font-size: 12px;
}

html, body {
    margin: 0;
    padding: 0;
}