$color-back:#f6f6f6;
$color-back-bis: white;
$color-footer:#353535;
$color-primary:#9356DC;
$color-primary-bis: #c697ff;
$color-secondary: #FF79DA;
$color-secondary-bis: #ffa8e7;
$color-tertiary: #99E2D0;
$color-tertiary-bis: #39a98e;
$color-font: black;
$color-font-bis: white;
$color-shadow: #d5d5d5;
$color-shadow-bis: #b8b8b8;
$color-shadow-ter: #EAEAEA;
$color-searchbar: #eaeaea;
