/*bouton permettant de rechercher des restaurants*/

.container0 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;

    .bouton {
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .bouton1 {
        text-decoration: none;
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        box-shadow: 5px 5px 5px $color-shadow;
        color: $color-font-bis;
        border: none;
        border-radius: 30px;
        padding: 10px;
        font-size: 11px;
        transition: background-color .250s ease;

        &:hover {
            background: linear-gradient(to bottom right, $color-secondary-bis, $color-primary-bis); /*jouer sur la saturation
            des couleurs primaires et secondaires du site pour les rendre plus claires au passage de la souris*/
            box-shadow: 5px 5px 5px $color-shadow-bis; /*ombre portée plus visible*/
        }
    }
}


/*bouton pour commander - se trouve sur les pages menus*/
.bouton-commande {
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 30%;

    .bouton1-commande {
        text-decoration: none;
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        box-shadow: 5px 5px 5px $color-shadow;
        border: none;
        color: $color-font-bis;
        border-radius: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 11px;
        transition: background-color .250s ease-in-out;


        &:hover {
            background: linear-gradient(to bottom right, $color-secondary-bis, $color-primary-bis); /*jouer sur la saturation
            des couleurs primaires et secondaires du site pour les rendre plus claires au passage de la souris*/
            box-shadow: 5px 5px 5px $color-shadow-bis; /*ombre portée plus visible*/
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1350px){
    .bouton-commande {
        margin-top: 30px;
        margin-bottom: 35px;
        margin-left: 42%;
    } 
}

@media screen and (min-width: 1350px) and (max-width: 1950px){
    .bouton-commande {
        margin-top: 30px;
        margin-bottom: 35px;
        margin-left: 45%;
    } 
}