/*partie des restaurants*/

.container2 {
    width: 100%;

    .restaurant-title {
        margin-top: 25px;
        margin-left: 20px;
    }

    .block-card {

        a {
            text-decoration: none;
            color: $color-font;
        }

        .contenu {
            box-sizing: border-box;
            background-color: $color-back-bis;
            border-radius: 15px;
            box-shadow: 5px 5px 5px $color-shadow-ter;
            width: 95%;
            margin-bottom: 20px;
            margin-left: 10px;
            height: 45%;
            position: relative;


            .card-img-top {
                background-size: cover;
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                width: 100%;
                height: 150px;
            }

            .new {
                position:absolute;
                z-index: 3;
                top: 10px;
                right: 10px;
                background-color: $color-tertiary;

                .new1 {
                    color: $color-tertiary-bis;
                    padding: 5px;
                    margin: -2px;
                }
            }

            .card-body {
                margin-left: 20px;
                margin-bottom: 25px;
                margin-top: -5px;

                .card-text {
                    margin-top: -5px;
                    padding-bottom: 10px;
                }

                .like {
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 15px;
                    margin-top: -40px;
                    margin-bottom: 15px;

                    .far.fa-heart {
                        position: relative;
                        z-index: 1;
                    }

                    .fas.fa-heart {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transition: all .5s;
                        transform: scale(0);
                        z-index: -1;
                    }

                    &:hover {
                        .fas.fa-heart {
                            transform: scale(1);
                        }
                }
            }
        }
    }
}
}

@media screen and (min-width: 768px) and (max-width: 1350px){

.container2 {
    width: 100%;

    .restaurant-title {
        margin-top: 25px;
        text-align: center;
    }

    .block-card {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .card-part1 {
            width: 100%;
            margin-bottom: 40px;
            margin-right: 15px;
        }

        .card-part2 {
            width: 100%;
            margin-bottom: 40px;
        }
    }
}
}

@media screen and (min-width: 1350px) and (max-width: 1950px){

.container2 {
    width: 100%;

    .restaurant-title {
        margin-top: 25px;
        text-align: center;
    }

    .block-card {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .card-part1 {
            width: 450px;
            margin-bottom: 40px;
            margin-left: 9%;
            margin-right: 15px;
        }

        .card-part2 {
            width: 450px;
            margin-bottom: 40px;
        }
    }
}
}


