.container-menu {
    margin-top: -12%;
    width: 100%;
    background-color: $color-back;
    position: relative;
    z-index: 3;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    .card-body-menu {
        width: 100%;

        > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 10px;
        }
    }

    .restaurant {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: space-between;

        .title-restaurant {
            font-family: shrikhand;
            margin-left: 5px;
        }

        .like-restaurant {
            padding-right: 20px;

            &:hover {
                color: $color-primary;
                transition: .250s ease-in-out;
            }
        }
    }

    .menu { /*pour faire apparaitre le menu au fur et à mesure jouer sur l'opacité et mettre une transition*/

        @keyframes transition {
            0%   { margin-top: -70px;opacity:0; }
            100% { margin-bottom: 0;opacity:1; }
        }

        .partie1 {
            margin-bottom: 10%;
            opacity:0;animation: transition 1s ease-in-out 2s forwards;
        }

        .partie2 {
            margin-bottom: 10%;
            opacity:0;animation: transition 2s ease-in-out 2s forwards;
        }

        .partie3 {
            margin-bottom: 10%;
            opacity:0;animation: transition 3s ease-in-out 2s forwards;
        }

        .title-menu {
            font-weight: lighter;
            font-size: 13px;
            text-decoration: underline 2px $color-tertiary;
            text-underline-position: under; /* permet d'éviter les jambages */
            margin-left: 5px;
        }

        .card-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 98%;
            height: 30%;
            flex-wrap: nowrap;
            background-color: $color-back-bis;
            border-radius: 15px;
            box-shadow: 5px 5px 5px $color-shadow-ter;
            margin-bottom: 20px;
            margin-left: 5px;
            overflow: hidden;

            .card-body-menu {

                .card-title-menu {
                    padding-left: 10px;
                    margin-bottom: -1%;
                    font-size: 12px;
                }

                .card-text-menu {
                    padding-left: 10px;
                    font-size: 11px;
                }

                .prix {
                    font-size: 12px;
                    font-weight: bold;
                    margin-right: -8px;
                }
            }
            .progress__bar {

                width: 30%;
                background: $color-tertiary;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                transform: translateX(101%);
                transition: all .250s ease-out;

                i {
                    background-color: $color-back-bis;
                    font-size: 10px;
                    color: $color-tertiary;
                    padding: 3px;
                    border-radius: 100%;
                }
            }

            &:hover {
                .progress__bar{
                    transform: translateX(0);
                }

                i {
                    transform: rotate(-360deg);
                    transition: transform 500ms ease-in-out;
                }
            }

        }

    }
}


@media screen and (min-width: 768px) and (max-width: 1350px){
    .container-menu {
       
        .menu {

            .title-menu {
                text-align: center;
            }

            .card-menu {
                width: 50%;
                height: 30%;
                margin-left: 25%;
            }
        }
    }
}

@media screen and (min-width: 1350px) and (max-width: 1950px){
    .container-menu {
       
        .menu {

            .title-menu {
                text-align: center;
            }

            .card-menu {
                width: 50%;
                height: 30%;
                margin-left: 25%;
            }
        }
    }
}
