.container {
    width: 100%;
    background-color: $color-searchbar;
    padding-top: 10px;
    padding-bottom: 10px;
    /*ne pas oublier de mettre l'ombre (gris foncé) en position top
    attention doit se trouver à l'interieur du container*/
    .searchbar {
        width: 100%;
        border:none;
        text-align: center;

        i {
            color: $color-footer;
        }
    }

    #searchbox {
        text-decoration: none;
        background-color: $color-searchbar;
        border: none;

        ::placeholder {
            color: $color-footer;
            font-weight: medium;
            text-align: center;
        }
    }
}